/*Title bar*/

body {

}

.title-bar {
	position: fixed;
	top: 0px;
	height: 60px;
	width: 100%;
	background-color: #FEF200;
	display: flex;
	flex-flow: row;
	align-items: center;
	z-index: 10;
	padding-top: 0px;
}

#logo-img {
	margin-left: 8px;
}

#logo-img img {
	width: 36px;
  height: 36px;
}

#justBurp {
	margin-left: 3px;
	vertical-align: middle;
	font-size: 20px;
	font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif";
	color: black;
}

#profile-icon {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;

}

#profile-icon img {
	width: 28px;
  height: 32px;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
}

#profile-icon:hover {
	background-color: #FFD700;
}


.profile-dropdown-content {
    display: none;
    position: absolute;
		margin-top: 60px;
		left:-60px;
    background-color: #f9f9f9;
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.profile-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.show {display:block;}


#sign-in-box {
	margin-right: 10px;
	border-style: solid;
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	color: black;
}

#sign-in-box a {
 font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
 	font-size: 16px;
	color: black;
}

#sign-in-box:hover {
	background-color: #FFD700;
}

#shopping-bag-icon {
	position: relative;
	height: 60px;
	width: 60px;
	margin-right: 20px;
}

#shopping-bag-icon:hover {
	background-color: #FFD700;
}

#shopping-bag-icon img {
	width: 26px;
  height: 26px;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
}

#become-chef-btn {
	margin-left: auto;
	margin-right: 20px;
	/*border-style: solid;*/
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	color: black;
	background-color: black;
}

#become-chef-btn a {
 font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
 	font-size: 16px;
	color: #FEF200;
}

#become-chef-btn:hover {
	background-color: #FFD700;
}
/*Main Block-> Search and IMG*/

.main-container{
	margin-top:60px;
	width: 100%;
	height: 480px;
}


#img-background {
	width: 100%;
	height: 480px;
	z-index: -1;
}

.search-container {
	width: 800px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  top: 200px;
}


#headline-question {
	 text-align: center;
   color: white;
   font: bold 30px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
	 font-weight: bolder;
	 width: 70%;
	 margin: auto;
}

#enter-address{
	margin-left: 18px;
   margin-top: 5px;
   color: white;
   font:  14px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   margin-bottom: -3%;
}

/*search box*/

#search-box {
	margin-left: 18px;
	width: 100%;
	display: flex;
	flex-flow: row;
	margin-top: 20px;
	margin-bottom: 10px;
}

/*dropdown menu for preorder*/
#order-time {
	background-color: #DDDDDD;
	color: #696969;
	height: 40px;
	width: 65px;
	text-align: center;
	vertical-align: center;
	padding: 0px;
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border: none;

	font: bold 12.5px/45px Helvetica, Sans-Serif;
}

#entry-address input{
	width: 600px;
	height: 40px;
	font-size: 14px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 1px;
	border-bottom-left-radius: 1px;
}

.order-now {
	margin-left: 4px;
	height: 40px;
	width: 100px;
	background-color: #28B463;
	color: white;
	text-align: center;
	vertical-align: center;
	padding: 0px 3px;
	-webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  border-radius: 8px;

	font: bold 16px/45px Helvetica, Sans-Serif;
}



.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 302px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		padding-left: 8px;
		padding-bottom: 1px;
}

#day_time{
	font-size:14px;  font-family: "Arial Black","Arial Bold",Gadget,sans-serif;
}



.selectdiv {
  position: relative;
	margin-top: 2px;
}

.selectdiv select {
  /* Add some styling */
  width: 100px;
  max-width: 320px;
  height: 30px;
  margin-top: 5px;
  padding: 0px 8px;
  font-size: 12px;
  color: #333;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}


#time-selector {
	width: 80px;
	margin-left: -3px;
}

#am-pm-selector {
	width: 50px;
	margin-left: -3px;
}

#apply-change-btn {
	float: right;
	margin-top: 5px;
	margin-right: 6px;
	width: 50px;
	height: 30px;
	text-align: center;
	background-color: #FEF200;
	padding: 0px;
  border-radius: 2px;
	font: bold 14px/45px Helvetica, Sans-Serif;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*display-section*/

.display-section {
	text-align: center;
	margin: auto;
	background-color: #F1F1F1;
	height: 420px;
	padding-top: 20px;
}

.display-section h2 {
	font-size: 26px;
	color: black;
	font-family: Arial;
}

.display-section h5 {
	margin-top: -5px;
	margin-bottom: 20px;
	font-size: 12px;
	color: black;
	font-family: Candara,Calibri,Segoe,"Segoe UI",Optima,Arial,sans-serif;
}

.img-gallary {
	display: flex;
	flex-flow: row;
	width: 75%;
	margin: auto;
	margin-top: 15px;
}

.img-frame {
	background-color: white;
	margin: auto;
	height: 320px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-left: 0px;
}

.img-gallary img {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 220px;

}

.img-caption {
	height: 90px;
	vertical-align: middle;
}

.img-gallary p {
	line-height: 20px;
	margin: auto;
	position: relative;
 	top: 50%;
 	-webkit-transform: translateY(-50%);
 	-ms-transform: translateY(-50%);
 	transform: translateY(-50%);
	width: 200px;
	font-size: 16px;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	vertical-align: middle;
}

.business-flow-section {
	background-color: #F1F1F1;
	text-align: center;
	margin: auto;
	height: 490px;
	padding-top: 30px;
	position: relative;
}

.business-flow-section h2 {
	font-size: 26px;
	color: black;
	font-family: Arial;
}

.business-flow-section div {
	margin: auto;
	width: 75%;
	height: 420px;
	background-color: white;
	position: relative;
}

.business-flow-section img {
	margin: auto;
	margin-top: 26px;
	width: 660px;
	height: 360px;
}

.social-network-section {
	height: 280px;
	background-color: #F1F1F1;
	width: 100%;
	margin: auto;
	text-align: center;
	padding-top: 30px;
}

.sn-icons {
	display: flex;
	flex-flow: row;
	width: 75%;
	margin: auto;
	margin-top: 10px;
}

.social-network-section h2{
	font-family: Arial;
	font-size: 26px;
}

.social-network-frame {
	background-color: white;
	margin: auto;
	height: 190px;
	width: 180px;
	padding: 10px;
	padding-bottom: 0px;
}

.social-network-frame img {
	height: 150px;
	width: 150px;
}





.footer {
	height: 50px;
	background-color: #FEF200;
}

.footer div {
	padding-left: 5px;
	padding-top: 10px;
}
