<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<link rel='stylesheet' href='/stylesheets/chef_view_style.css'/>

<div class="qtyChange">
    <div class="col-sm-1">
        <input type='button' value='-' class='qtyminus' field='quantity'/>
    </div>
    <div class="col-sm-4">
        <input type='text' name='quantity' value={{quantity}} class='qty'/>
    </div>
    <div class="col-sm-1">
        <input type='button' value='+' class='qtyplus' field='quantity'/>
    </div>
</div>