<link rel='stylesheet' href='/stylesheets/general_style.css'/>
<div class="title-bar">
	<span> <img src="/images/justBurpIcon.png" id="icon"></span>
	<span id="justBurp">JustBurp</span>
	
	<span><a class="success button" id = "becomeChef" href="/becomeChef">Become a Chef</a></span>
</div>


<div id="wufoo-m19wa53l0fdx0s3">
Fill out my <a href="https://justburp.wufoo.com/forms/m19wa53l0fdx0s3">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Use <a href="http://www.wufoo.com/gallery/templates/">Wufoo templates</a> to make your own HTML forms.</div>
<script type="text/javascript">var m19wa53l0fdx0s3;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'justburp',
'formHash':'m19wa53l0fdx0s3',
'autoResize':true,
'height':'677',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { m19wa53l0fdx0s3 = new WufooForm();m19wa53l0fdx0s3.initialize(options);m19wa53l0fdx0s3.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

