<link rel='stylesheet' href='/stylesheets/general_style.css'/>
<link rel='stylesheet' href='/stylesheets/chef_signup_style.css'/>
<div class="primary title-bar">
    <span><a id="justBurp" href="/">JustBurp</a></span>
    <span><a class="button title-right" id = "becomeChefButton" href="/applyChef">Become a Chef</a></span>
    <span><a class="button title-right" id = "signInButton" href="/#">Sign In</a></span>
</div>

<div class="center">
    <div class="logo"><img src="/images/justBurpIcon.png"></div>
    <div class="confirm_msg_text">
        <div>Your application has been sent successfully.</div>
        <div>Please keep your phone available, and our staff will contact you asap.</div>
        <div>For additional information, please contact us at example@mail.com. Thanks!</div>
    </div>
</div>