<link rel='stylesheet' href='/stylesheets/general_style.css'/>
<link rel='stylesheet' href='/stylesheets/chef_view_style.css'/>
<div class="primary title-bar">
    <span><a id="justBurp" href="/">JustBurp</a></span>
    <span><a class="title-right" href="#" id="settingButton"><img src="/images/settings-work-tool.png"></a></span>
</div>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/chef">Pending Orders</a>
    <a href="/chef/chefDaily">Daily Schedule</a>
</div>

<div id="main">
    <span class="menuButton" onclick="openNav()">☰</span>
    <div class="col-sm-12 title">&nbsp</div>
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#today">Deliver Today</a></li>
        <li><a data-toggle="pill" href="#tmr">Deliver Tomorrow</a></li>
    </ul>

    <div class="tab-content">
        <div id="today" class="tab-pane fade in active">
            <p>Display orders to deliver today.</p>
        </div>
        <div id="tmr" class="tab-pane fade">
            <p>Display orders to deliver tomorrow.</p>
        </div>
    </div>
</div>