
<link rel='stylesheet' href='/stylesheets/homepage_style.css' />
<link rel='stylesheet' href='/stylesheets/signin_form_style.css' />
<div class="title-bar">
	<div id="logo-img"> <img src="/images/justBurpIcon.png"></div>
	<div id="justBurp">JustBurp</div>
	<div id="become-chef-btn"> <a href="#"> Become a Chef </a></div>
	{{#if login}}
		<div onclick="profileDropdown()" id = "profile-icon">
			<img src="/images/profile-icon.png" >
			<div id="myDropdown" class="profile-dropdown-content">
		    <a href="/signout">Log out</a>
	  	</div>
		</div>
	{{else}}
			<div id="sign-in-box"> <a href="#"> Sign In </a></div>
	{{/if}}
	<div id="shopping-bag-icon"> <img src="/images/shopping-bag.png"></div>
</div>

{{#if message}}
    <div class="alert-danger">{{message}}</div>
{{/if}}

<div class= 'main-container'>
	<div> <img src="/images/background.jpg" id = "img-background"></div>
	<div class="search-container">
		<div id= "headline-question">Authentic Food by Authentic People.</div>
		<form method="POST" action="/lets-eat">
			<div class="grid-block">
				<label id= "enter-address">Enter your address below </label>

				<div id = "search-box">

					<div class="dropdown">
	  				<button class="dropbtn" id = "order-time">ASAP</button>
	  				<div class="dropdown-content">

								<label id = "day_time"> Day & Time </label>
								<label style="font-size:11px;"> Schedule an order for later today or tomorrow in advance </label>

								<div class="selectdiv">

								      <select>
								          <option selected> Today </option>
								          <option>Tomorrow</option>
								      </select>

											<select id = "time-selector">
								          <option selected> 10:00 </option>
								          <option> 10:30 </option>
								      </select>

											<select id = "am-pm-selector">
								          <option selected> AM </option>
								          <option> PM </option>
								      </select>

											<div id = "apply-change-btn">
												<button style="vertical-align: middle; padding-bottom: 18px;"> Apply </button>
											</div>
								</div>

	  				</div>
					</div>

						<label id="entry-address">
							<input type="text" placeholder="Street address, city, state" onFocus="geolocate()" id = "address-bar" required>
						</label>
						<input type="hidden" name="address" id = "address" value="hi">
					<div class = "order-now">
						 	<button  id = "get-started">Get Started</button>
					</div>

				</div>
			</div>
		</form>
	</div>
</div>


	<div class = "display-section">
		<h2>  Mid-Autumn Festival</h2>
		<h5> Mid-Autumn Festival Combo and Free Moon Cake </h4>
		<!-- <img src="/images/img_gallary/mid-autumn.jpg"> -->
		<div class = "img-gallary">
			<div class = "img-frame">
				<img src="/images/img_gallary/img1.jpg">
				<div class ="img-caption"> <p> Authentic Moon Cake from NYC Chinatown</p> </div>
			</div>
			<div class = "img-frame">
				<img src="/images/img_gallary/img2.jpg">
				<div class ="img-caption"> <p> Mid-Autumn Special</p> </div>
			</div>
			<div class = "img-frame" style="margin-right:0px;">
				<img src="/images/img_gallary/img3.jpg">
				<div class ="img-caption"> <p> Celebrating with Friends like in home</p> </div>
			</div>
		</div>
	</div>

	<div class = "business-flow-section">
		<h2> How to Burp?</h2>
		<div> <img src="/images/business-flow2.png"> </div>
	</div>

	<div class = "social-network-section">
		<h2> Connect With Us </h2>

		<div class = "sn-icons">

			<div class ="social-network-frame" style="margin-left : 0px;">
				<img src="/images/wechat-qrcode.png">
				<div class ="img-caption"> <p> Wechat</p> </div>
			</div>

			<div class ="social-network-frame">
				<img src="/images/facebook.png">
				<div class ="img-caption"> <p> Facebook</p> </div>
			</div>

			<div class ="social-network-frame">
				<img src="/images/instagram.png">
				<div class ="img-caption"> <p> Instagram</p> </div>
			</div>

			<div class ="social-network-frame">
				<img src="/images/twitter.png">
				<div class ="img-caption"> <p> Twitter</p> </div>
			</div>

			<div class ="social-network-frame" style="margin-right: 0px;">
				<img src="/images/snapchat.jpg">
				<div class ="img-caption"> <p> Snapchat </p> </div>
			</div>

	</div>

	</div>


	<div class = "footer">
		<div> <p> @2016 JustBurp Technologies. Inc all rights reserved </p> </div>
	</div>



<div class="cd-user-modal" id = "signin-form">
  	<div class="cd-user-modal-container">
			<div class="form">
				<span class = "close_button"><img src="/images/close_button.png" id="close"></span>
				<span> <img src="/images/justBurpIcon.png" id="form-icon"></span>
			    <form class="register-form" method="POST" action="/signup">
					<label><h3>Create Your Account</h3></label>
					<input class ="user_name" type="text" placeholder="First name" id = "first_name" name ='firstName' required/>
					<input type="text" class ="user_name" placeholder="Last name" id = "last_name" name ='lastName' required/>
					<p id = first_name_result class="invalid_input">First name must contain only alphabetic characters</p>
					<p id = last_name_result class="invalid_input">Last name must contain only alphabetic characters</p>

					<input type="text" id="signup_email" placeholder="Email" name ='email' required/>
					<p id = signup_email_result class="invalid_input">Format of email is invalid</p>

					<input type="password"  id="signup_password" placeholder="Password (8 character minimum)" name ='password' required/>
					<p id = "password_result" class="invalid_input">Please Enter a at leaset 8 character password</p>

					<input type="password" id="repeat_signup_password" placeholder="Confrim your password" required/>
					<p id = "repeat_password_result" class="invalid_input">Password do not match</p>

					<button type="submit">Create</button>
					<p class="message">Already registered? <a href="#">Sign In</a></p>
			    </form>
			    <form class="login-form" method="POST" action="/login">
						<input type="hidden" name="link" value="/">
			      <label><h3>Sign in with your JustBurp account</h3></label>
			      <input type="text" placeholder="Email" name = 'email' required/>
			      <input type="password" placeholder="Password" name = 'password' required/>
			      <button  type="submit">Login</button>
			      <p class="message">Not registered? <a href="#" id ="creatAccount">Create an account</a></p>
			    </form>
		  </div>
	</div>
</div>


<script type="text/javascript" src="/javascripts/homepage.js"></script>
<script type="text/javascript" src="/javascripts/signin_form_action.js"></script>
<script src="/javascripts/foundation.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN6yrSb42wU3buDhn9Y402kJ_dNQh9sZc&libraries=places&callback=initAutocomplete"
        async defer></script>
<script type="text/javascript" src="/javascripts/autocomplete.js"></script>
