<link rel='stylesheet' href='/stylesheets/homepage_style.css' />
<link rel='stylesheet' href='/stylesheets/homepage_signin_style.css' />
<div class="primary title-bar">
	<span> <img src="/images/justBurpIcon.png" id="icon"></span>
	<span id="justBurp">Just Burp</span>
	<span><a class="success button" id = "becomeChef" href="#">Become a Chef</a></span>
	<span class="title-right" id= "signIn">Sign in</span>
	<span class="title-right">Our Mission</span>
</div>

{{#if message}}
    <div class="alert-danger">{{message}}</div>
{{/if}}

<div class= 'index-image'>
	<span> <img src="/images/background.jpg" id = "chinese-food"></span>
	<div class="front-content">
		<span id= "front-text">Just Burp! Authentic Food by Authentic People </span> 

		<form>
			<div class="grid-block">
				<label id= "enter-address">Enter your address below </label>
				<div class="small-12 medium-6 grid-content" id = "lol">
					<label class="entry-address">
						<input type="text" placeholder="eg. Univeristy Road 30">
					</label>
				</div>
				<div class = "order-time">
					<span id ="order-now"> <a class="alert button" href="#" id= "start">Order Now</a> </span>
					<span id ="order-tmr"> <a class="warning button" href="#" id= "start">Order Tomorrow 20%</a> </span>
				</div>
				<!-- <div id= "referral"><a href="#"> Share JustBurp with a friend, get $5! </a></div> -->
			</div>
		</form>
	</div>
</div>

<div class= "display-content">
	<div id="popular-dishes">Popular Dishes<div>

	<div class="display-image"><img src="/images/sample1.jpg"><div class="dish-name">Pork Hock $12</div></div>
	<div class="display-image"><img src="/images/sample2.jpg"></div>
	<div class="display-image"><img src="/images/sample3.jpg"></div>
	<div class="display-image"><img src="/images/sample4.jpg"></div>

</div>

<div class="cd-user-modal" id = "signin-form">
  	<div class="cd-user-modal-container">
		<div class="login-page">
			<div class="form">
				<span class = "close_button"><img src="/images/close_button.png" id="close"></span>
				<span> <img src="/images/justBurpIcon.png" id="form-icon"></span>
			    <form class="register-form" method="POST" action="/signup">
					<label><h3>Create Your Account</h3></label>
					<input class ="user_name" type="text" placeholder="First name" id = "first_name" name ='firstName' required/>
					<input type="text" class ="user_name" placeholder="Last name" id = "last_name" name ='lastName' required/>
					<p id = first_name_result class="invalid_input">First name must contain only alphabetic characters</p>
					<p id = last_name_result class="invalid_input">Last name must contain only alphabetic characters</p>

					<input type="text" id="signup_email" placeholder="Email" name ='email' required/>
					<p id = signup_email_result class="invalid_input">Format of email is invalid</p>

					<input type="password"  id="signup_password" placeholder="Password (8 character minimum)" name ='password' required/>
					<p id = "password_result" class="invalid_input">Please Enter a at leaset 8 character password</p>

					<input type="password" id="repeat_signup_password" placeholder="Confrim your password" required/>
					<p id = "repeat_password_result" class="invalid_input">Password do not match</p>

					<button type="submit">Create</button>
					<p class="message">Already registered? <a href="#">Sign In</a></p>
			    </form>
			    <form class="login-form" method="POST" action="/login">
			      <label><h3>Sign in with your Just Burp account</h3></label>
			      <input type="text" placeholder="Email" name = 'email' required/>
			      <input type="password" placeholder="Password" name = 'password' required/>
			      <button  type="submit">Login</button>
			      <p class="message">Not registered? <a href="#" id ="creatAccount">Create an account</a></p>
			    </form>
		  </div>
		</div>
	</div>
</div>


<script type="text/javascript" src="/javascripts/homepage.js"></script>
