<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
      <link rel='stylesheet' href='/stylesheets/foundation.css' />
      <script type="text/javascript" src="/javascripts/jquery-1.12.3.min.js"></script>
      <script type="text/javascript" src="/javascripts/sideNav.js"></script>
      <title>JustBurp</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
