<link rel='stylesheet' href='/stylesheets/lets-eat.css' />
<script type="text/javascript" src="/javascripts/lets-eat.js"></script>




<div class =" main-container">


    <div class ="promotion-banner">
      <img src="/images/first_delivery_fee_promo.jpg">
      <div class = "promotion-slogan">
        <p> Hungry for better delivery?  First delivery fee on us. </p>
      </div>
    </div>


    <div class = "display-container">

      <div class = "display-entry">
        <div class = "chef-profile">
          <div class = "chef-photo">
            <img src="/images/chef-photo-1.png">
            <div class = "chef-titile"> Chef <span class ="chef-name"> Zhongtian </span> </div>
            <div class = "food-style"> Chinese </div>
            <div class="rating">
              <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
            </div>
          </div>
          <div class = "vertical-border"> </div>
        </div>

        <div class = "menu-container">

          <div class = "dish-box">
            <div class = "dish-img">
                <img src="/images/dish-2.jpg">
            </div>

            <div class = "dish-caption">
               Chicken With Szechwan Pepper
            </div>

            <div class = "dish-price">
                15.98
            </div>

          </div>


          <div class = "dish-box">
            <div class = "dish-img">
                <img src="/images/dish-1.jpg">
            </div>

            <div class = "dish-caption">
               Bobby's Shui Mai
            </div>

            <div class = "dish-price">
               12.68
            </div>

          </div>

          <!-- <div class = "dish-box">
            <div class = "dish-img">
                <img src="/images/dish-3.jpg">
            </div>

            <div class = "dish-caption">
               Braised String Beans
            </div>

            <div class = "dish-price">
               16.98
            </div>

          </div> -->


          <div class = "vertical-border"> </div>
        </div>

        <div class = "info-box">

          <div class = "tertiary-info">
            <div class="min-order-money">
              <span>$</span> 25
              <div class = "info-caption"> Min </div>
            </div>
            <div class="delivery-fee">
              <span>$</span> 2
              <div class = "info-caption"> Delivery Fee </div>
            </div>
            <div class="waiting-time">
              40 <span>min</span>
              <div class = "info-caption"> Est. Wait </div>
            </div>
          </div>

        </div>


      </div>

      <div class = "display-entry">
        <div class = "chef-profile">
          <div class = "chef-photo">
            <img src="/images/chef-photo-2.png">
            <div class = "chef-titile"> Chef <span class ="chef-name"> DJ </span> </div>
            <div class = "food-style"> Italian </div>
            <div class="rating">
              <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
            </div>
          </div>
          <div class = "vertical-border"> </div>
        </div>

        <div class = "menu-container">

          <div class = "dish-box">
            <div class = "dish-img">
                <img src="/images/dish-3.jpg">
            </div>

            <div class = "dish-caption">
               Chicken With Szechwan Pepper
            </div>

            <div class = "dish-price">
                15.98
            </div>

          </div>


          <div class = "dish-box">
            <div class = "dish-img">
                <img src="/images/dish-4.jpg">
            </div>

            <div class = "dish-caption">
               Bobby's Shui Mai
            </div>

            <div class = "dish-price">
               12.68
            </div>

          </div>

          <!-- <div class = "dish-box">
            <div class = "dish-img">
                <img src="/images/dish-3.jpg">
            </div>

            <div class = "dish-caption">
               Braised String Beans
            </div>

            <div class = "dish-price">
               16.98
            </div>

          </div> -->


          <div class = "vertical-border"> </div>
        </div>

        <div class = "info-box">

          <div class = "tertiary-info">
            <div class="min-order-money">
              <span>$</span> 15
              <div class = "info-caption"> Min </div>
            </div>
            <div class="delivery-fee">
              <span>$</span> 0
              <div class = "info-caption"> Delivery Fee </div>
            </div>
            <div class="waiting-time">
              30 <span>min</span>
              <div class = "info-caption"> Est. Wait </div>
            </div>
          </div>

        </div>


      </div>

      <div class = "display-entry">
        <div class = "chef-profile">
          <div class = "chef-photo">
            <img src="/images/chef-photo-3.png">
            <div class = "chef-titile"> Chef <span class ="chef-name"> Ryan </span> </div>
            <div class = "food-style"> Japanese </div>
            <div class="rating">
              <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
            </div>
          </div>
          <div class = "vertical-border"> </div>
        </div>

        <div class = "menu-container">

          <div class = "dish-box">
            <div class = "dish-img">
                <img src="/images/dish-5.jpg">
            </div>

            <div class = "dish-caption">
               Chicken With Szechwan Pepper
            </div>

            <div class = "dish-price">
                15.98
            </div>

          </div>


          <div class = "dish-box">
            <div class = "dish-img">
                <img src="/images/dish-6.jpg">
            </div>

            <div class = "dish-caption">
               Bobby's Shui Mai
            </div>

            <div class = "dish-price">
               12.68
            </div>

          </div>

          <!-- <div class = "dish-box">
            <div class = "dish-img">
                <img src="/images/dish-3.jpg">
            </div>

            <div class = "dish-caption">
               Braised String Beans
            </div>

            <div class = "dish-price">
               16.98
            </div>

          </div> -->


          <div class = "vertical-border"> </div>
        </div>

        <div class = "info-box">

          <div class = "tertiary-info">
            <div class="min-order-money">
              <span>$</span> 35
              <div class = "info-caption"> Min </div>
            </div>
            <div class="delivery-fee">
              <span>$</span> 5
              <div class = "info-caption"> Delivery Fee </div>
            </div>
            <div class="waiting-time">
              40 <span>min</span>
              <div class = "info-caption"> Est. Wait </div>
            </div>
          </div>

        </div>


      </div>

      <div class = "display-entry">
        <div class = "chef-profile">
          <div class = "chef-photo">
            <img src="/images/chef-photo-4.png">
            <div class = "chef-titile"> Chef <span class ="chef-name"> Lily </span> </div>
            <div class = "food-style"> Franch </div>
            <div class="rating">
              <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
            </div>
          </div>
          <div class = "vertical-border"> </div>
        </div>

        <div class = "menu-container">

          <div class = "dish-box">
            <div class = "dish-img">
                <img src="/images/dish-7.jpg">
            </div>

            <div class = "dish-caption">
               Chicken With Szechwan Pepper
            </div>

            <div class = "dish-price">
                15.98
            </div>

          </div>


          <div class = "dish-box">
            <div class = "dish-img">
                <img src="/images/dish-8.jpg">
            </div>

            <div class = "dish-caption">
               Bobby's Shui Mai
            </div>

            <div class = "dish-price">
               12.68
            </div>

          </div>

          <!-- <div class = "dish-box">
            <div class = "dish-img">
                <img src="/images/dish-3.jpg">
            </div>

            <div class = "dish-caption">
               Braised String Beans
            </div>

            <div class = "dish-price">
               16.98
            </div>

          </div> -->


          <div class = "vertical-border"> </div>
        </div>

        <div class = "info-box">

          <div class = "tertiary-info">
            <div class="min-order-money">
              <span>$</span> 25
              <div class = "info-caption"> Min </div>
            </div>
            <div class="delivery-fee">
              <span>$</span> 2
              <div class = "info-caption"> Delivery Fee </div>
            </div>
            <div class="waiting-time">
              40 <span>min</span>
              <div class = "info-caption"> Est. Wait </div>
            </div>
          </div>

        </div>


      </div>


  </div>



</div>


<div class = "shopping-box">
  <div class ="empty-bag-box" style="text-align:center">
    <h4 >Your bag is empty</h4>
    <hr>
    <h6>Build your meal by clicking dish photo. </h6>
  </div>
</div>
