<link rel='stylesheet' href='/stylesheets/general_style.css'/>
<div class="title-bar">
	<span> <img src="/images/justBurpIcon.png" id="icon"></span>
	<span id="justBurp">JustBurp</span>
	
	<span><a class="success button" id = "becomeChef" href="/applyChef">Become a Chef</a></span>
</div>

